<h2>Bienvenue sur Snapface !</h2>
<p>
  <button (click)="onContinue()">Continuer vers Facesnaps</button>
</p>
<div *ngIf="snappedFaces.length > 0">
  <h3>Les FaceSnaps que vous avez snappé</h3>
  <app-face-snap *ngFor="let snap of snappedFaces" [faceSnap]="snap"></app-face-snap>
</div>
<form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
  <label for="emailInput">Inscrivez-vous pour recevoir notre newsletter !</label>
  <input id="emailInput" name="userEmail" type="email" [(ngModel)]="userEmail">
  <button type="submit">OK!</button>
</form>